@model PetShop.Model.Animal
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add new animal</h1>
<div>
    <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly"></div>
    
        <div class="form-group">
            <label asp-for="Name"></label><br />
            <input class="Input" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age"></label><br />
            <input class="Input" asp-for="Age" />
            <span asp-validation-for="Age"></span>
        </div>
        <div class="form-group">
            <label asp-for="PictureName"></label><br />
            <input class="Input" asp-for="PictureName" />
            <span asp-validation-for="PictureName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Discription"></label><br />
            <textarea class="Input discription" asp-for="Discription"></textarea>
            <span asp-validation-for="Discription"></span>
        </div>
            <div class="form-group">
                <label asp-for="Category"></label><br />
                <select asp-for="CategoryId" class="combobox">
                        @{
                            foreach (var a in ViewBag.Categories)
                            {
                                <option name="CategoryId" value="@a.Id" >@a.Name</option>
                            }
                        }
                </select>
            </div>
        <div class="form-group">
            <input class="btn" type="submit" value="Create" />
            <a class="btn" asp-action="Index">Back</a>
        </div>
    </form>
</div>

