@model PetShop.Model.Animal
@{
    ViewBag.Title = "Edite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update animal</h1>
<div>
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age"></label>
            <input asp-for="Age" />
            <span asp-validation-for="Age"></span>
        </div>
        <div class="form-group">
            <label asp-for="PictureName"></label>
            <input asp-for="PictureName" />
            <span asp-validation-for="PictureName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Discription"></label>
            <input asp-for="Discription" />
            <span asp-validation-for="Discription"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category"></label>
            <select asp-for="CategoryId">
                @{
                    foreach (var a in ViewBag.Categories)
                    {
                        <option value="@a.Id">@a.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <input class="btn" type="submit" value="Update" />
            <a class="btn" asp-action="Index">Back</a>
        </div>
    </form>
</div>
